<%#= render 'annotate_data', records: @disqus_posts %>
<h1>Annotate Data.</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disqus_posts.each do |tweet| %>

      <% tweet.is_a?(DisqusForumComment) ? @type = "disqus"  : @type = "tweet" %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.text.html_safe %></td>
        <td><%= tweet.scrape_session.name if tweet.scrape_session %></td>

        <% if tweet.scrape_session && tweet.scrape_session.questions %>
          <td>
            <% @question = tweet.scrape_session.questions.last %>
            <%= @question.content %>
            <%- @question.answers.each do |ans| %>
              <ul>
                <li><%= link_to("#{ans.content}", twitter_parser.tweet_tag_path(tweet)+"?ref=#{ans.id}-#{@type}" ) %></li>
              </ul>
            <% end %>
          </td>
        <% end %>
        <% if tweet.answers.present? %>
          <% tweet.answers.each do |answer| %>
            <td><%= answer.content %></td>
          <% end %>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New scrape_session', new_scrape_session_path %>
<br>
<%= will_paginate(@disqus_posts) %>
