<% provide(:page_title, "Show Session") %>
<% provide(:app_page, "scrape_sessions" ) %>
<% provide(:app_sub, "scrape_sessions_show" ) %>

<div class="page-header">
	<h2 class="pull-left">Manage</h2>

	<div class="nav nav-pills pull-right">
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle session-manage" data-toggle="dropdown">
		    Manage <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		  	<li><%= link_to "Add Page", new_scrape_session_scrape_page_path(@scrape_session)  %></li>  
		    <li><%= link_to "Import Pages", import_scrape_session_path(@scrape_session) %></li>
		    <li><%= link_to "Retro Scrape", retro_scrape_session_path(@scrape_session) %></li>
		    <li class="divider"></li>
		    <li><%= link_to "Edit Session", edit_scrape_session_path(@scrape_session) %></li>
		    <li class="divider"></li>
			<li>
				<%= link_to("Delete Session", @scrape_session, :method => :delete, data: { confirm: "Are you sure? You cannot undo this action"}, class: "delete-link") %>
			</li>
		  </ul>
		</div>
	</div>

	<div class="clearfix"></div>
</div>


<div class="panel panel-default session-summary">
  <div class="panel-heading">Session Summary</div>
  <div class="panel-body">
   		<%= render 'shared/scrape_session_description', object: @scrape_session %>
	</div>
</div>


<div class="whitespace"></div>

<% if !@scrape_pages.empty? %>

	<div class="panel panel-default dash-stats-sessions">
	  <div class="panel-heading pages">Recent Pages</div>
	  <div class="panel-body">
	   <%= render 'shared/scrape_page_list', object: @scrape_pages %>
	  </div>

	  <% if @has_more_pages %>
		  <div class="panel-footer">
		  	<%= link_to "View All Pages", scrape_session_scrape_pages_path(@scrape_session), class: "" %>
		  </div>
	  <% end %>

	</div>

<% else %>

<div class="panel panel-default session-summary">
  <div class="panel-body">
  	<h3>This Session doesn't have any pages.</h3>
  	<div class="whitespace"></div>
	  	<div class="col-md-4">
	  	<%= link_to "ADD PAGE", new_scrape_session_scrape_page_path(@scrape_session), class: "btn btn-large btn-primary btn-block"  %>
	  	</div>
	</div>
</div>


<% end %>


<div class="whitespace"></div>


<% if !@questions.empty? %>


	<div class="panel panel-default dash-stats-sessions">
	  <div class="panel-heading questions">Recent Questions</div>
	  <div class="panel-body">
	   <%= render 'shared/question_list', object: @questions %>
	  </div>

	  <% if @has_more_questions %>
		  <div class="panel-footer">
		  	<%= link_to "View All Questions", scrape_session_questions_path(@scrape_session), class: "" %>
		  </div>
	  <% end %>

	</div>

	<!-- add pagination -->

<% end %>

<% content_for :debug_dump do %>

<% end %>