<% provide(:page_title, "Question") %>
<% provide(:app_page, "questions" ) %>

<div class="page-header">
	<h2 class="pull-left">Question</h2>

	<div class="nav nav-pills pull-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle session-manage" data-toggle="dropdown">
		    	Manage <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		  		<li><%= link_to "Edit Question", edit_scrape_session_question_path(@scrape_session, @question) %></li>
		  		<li><%= link_to "Add Answer", new_scrape_session_question_answer_path(@scrape_session, @question) %></li>
			  	<li><%= link_to "Manage Answers", scrape_session_question_answers_path(@scrape_session, @question) %></li>
			  	<li class="divider"></li>
			  	
				<li><%= link_to("Delete Question", scrape_session_question_path(@scrape_session, @question), :method => :delete, :confirm => "Are you sure?", class: "delete-link") %>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="well well-sm question-description">
	<div class="session-name pull-right">Session: <strong><%= @scrape_session.name %></strong></div>
	<h3 class="question"><%= @question.question %>
	</h3>
	<hr />
	<p class="question-description"><%= @question.description %></p>
</div>


<% if !@answers.blank? %>
    <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading answers">Answers</div>
      <div class="panel-body">
       <%= render 'shared/answer_list', object: @answers, question: @question %>
      </div>
      <div class="panel-footer"><%= will_paginate @answers %></div>
    </div>

<% else %>
	<div class="well well-sm">
		<h4>You haven't added any answers to this Question</h4>
		<br />
		<p>
			<%= link_to "Add New Answer", new_scrape_session_question_answer_path(@scrape_session, @question, @answer), class: "btn btn-large btn-primary" %>
		</p>
	</div>
<% end %>


<% content_for :debug_dump do %>

<% end %>