<% if signed_in? %>
	<% provide(:page_title, current_user.username ) %>
	<% provide(:app_page, "dashboard" ) %>
	
	<div class="page-header">
		<%= link_to "Create New Session", new_scrape_session_path, class: "btn btn-large btn-primary" %>
	</div>
	
	<div class="clearfix"></div>

	<% if @scrape_sessions.any? %>

		<div class="row dash-stats">

		  <div class="col-sm-3 col-md-3">
		    <div class="well session-stats">
		    	<!-- <p><span class="glyphicon glyphicon-eye-open"></span></p> -->
		    	<h3><%= current_user.scrape_sessions.count  %></h3>
		    	<p class="stat-description"><span class="glyphicon glyphicon-eye-open"></span>Sessions</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well page-stats">
		    	<!-- <p><span class="glyphicon glyphicon-book"></span></p> -->
		    	<h3><%= @all_pages_count %></h3>
		    	<p class="stat-description"><span class="glyphicon glyphicon-book"></span>Pages</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well post-stats">
		    	<!-- <p><span class='glyphicon glyphicon-list-alt'></span></p> -->
		    	<h3><%= @all_posts_count %></h3>
		    	<p class="stat-description"><span class='glyphicon glyphicon-list-alt'></span>Posts</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well comment-stats">
		    	<!-- <p><span class='glyphicon glyphicon-comment'></span></p> -->
		    	<h3><%= @all_comments_count %></h3>
		    	<p class="stat-description"><span class='glyphicon glyphicon-comment'></span>Comments</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well post-stats">
		    	<!-- <p><span class='glyphicon glyphicon-list-alt'></span></p> -->
		    	<h3><%= @all_tweets_count %></h3>
		    	<p class="stat-description"><span class='glyphicon glyphicon-list-alt'></span>Tweets</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well page-stats">
		    	<!-- <p><span class="glyphicon glyphicon-book"></span></p> -->
		    	<h3><%= @all_forums_count %></h3>
		    	<p class="stat-description"><span class="glyphicon glyphicon-book"></span>Disqus Forums</p>
		    </div>
		  </div>

		  <div class="col-sm-3 col-md-3">
		    <div class="well comment-stats">
		    	<!-- <p><span class='glyphicon glyphicon-comment'></span></p> -->
		    	<h3><%= @all_disqus_comments_count %></h3>
		    	<p class="stat-description"><span class='glyphicon glyphicon-comment'></span>Disqus Forum Posts</p>
		    </div>
		  </div>

		</div>

		<hr />
		<div class="whitespace"></div>

		<div class="panel panel-default dash-stats-sessions">
		  <div class="panel-heading">Recent Sessions</div>
		  <div class="panel-body">
		    <%= render 'shared/scrape_session_list', object: @scrape_sessions %>
		  </div>
		  
		  <% if @has_more_sessions %>
			  <div class="panel-footer">
			  	<%= link_to "View All Sessions", scrape_sessions_path, class: "" %>
			  </div>
		  <% end %>
		</div>
		


	<% else %>
		<div class="well well-sm">
			<h4>You don't have any sessions</h4>
		</div>
	<% end %>

	

<% else #user is not signed in %>

	<% provide(:pagetitle, '') %>
	<div class="jumbotron">
	  <h1>Umati Data Logger</h1>

	  <%= link_to "Create Account", signup_path, class: "btn btn-large btn-primary" %>
	</div>

<% end %>