<% provide(:page_title, "Session: #{@scrape_session.name.capitalize} | Pages" ) %>
<% provide(:app_page, "scrape_pages" ) %>
<% provide(:app_sub, "scrape_pages_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Pages</h2>
	<div class="clearfix"></div>
</div>

<% if !@scrape_pages.blank? %>
	<div>
		<h3>Pages in this Session</h3>
	</div>

	<%= render 'shared/scrape_page_list' %>

	<!-- add pagination -->

<% else %>
	<div class="well well-sm">
		<h4>You haven't added any pages to this session</h4>
	</div>
<% end %>


<% content_for :debug_dump do %>
  <p>inspect <%= @scrape_pages.inspect %></p>
  <p>Class <%= @scrape_pages.class %></p>
  <p>Nil <%= @scrape_pages.nil? %></p>
  <p>Blank <%= @scrape_pages.blank? %></p>
  <hr />
  <p>inspect @scrape_session <%= @scrape_session.inspect %></p>

<% end %>