<% provide(:page_title, "Page") %>
<% provide(:app_page, "scrape_pages" ) %>


<div class="page-header">
	<h2 class="pull-left">Manage</h2>

	<div class="nav nav-pills pull-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle session-manage" data-toggle="dropdown">
		    	Manage <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		  		<li><%= link_to "Posts", {controller: "fb_posts", action: :index, scrape_session_id: @scrape_session.id, scrape_page_id: @scrape_page.id} %></li>
			  	<li><%= link_to "Comments", {controller: "fb_comments", action: :index, scrape_session_id: @scrape_session.id, scrape_page_id: @scrape_page.id} %></li>
			  	<li class="divider"></li>
			  	<li>
			  		<%= link_to "Edit Page", edit_scrape_session_scrape_page_path(@scrape_session, @scrape_page) %>
			  	</li>
			  	<li class="divider"></li>
				<li>
					<%= link_to("Delete Page", scrape_session_scrape_page_path(@scrape_session, @scrape_page), :method => :delete, class: "delete-link", data: {:confirm => "Are you sure?"}) %>
				</li>
			</ul>
		</div>
	</div>

	<div class="clearfix"></div>
</div>


<div class="panel panel-default session-summary">
  <div class="panel-heading">Page Summary</div>
  <div class="panel-body">
   		<%= render 'shared/scrape_page_description', object: @scrape_page %>
	</div>
</div>


<div class="whitespace"></div>


<% if @fb_posts.empty? %>
	<div class="well well-sm">
		<p>This Page doesn't have any posts.</p>
	</div>

<% else %>


	<div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Posts</div>
      <div class="panel-body">
       <%= render 'shared/fb_post_list', object: @fb_posts  %>
      </div>
      <div class="panel-footer"><%= will_paginate @fb_posts %></div>
    </div>

<% end %>

<% content_for :debug_dump do %>

<% end %>