<div class="session-description">
    <h4>Session:    <%= @scrape_session.name.capitalize %></h4>
    <h5>Created by: <%= @scrape_session.user_name %></h5>
    <h5>www.facebook.com/<strong><%= @scrape_page.page_url %></strong></h5>
    <h5 class="posts-counter">Posts:  <strong><%= @scrape_page.total_posts %></strong>&nbsp;|&nbsp;Comments:  <strong><%= @scrape_page.total_comments %></strong></h5>
</div>