<div class="col-md-12">
    <div class="table-responsive session-description">
        <table class="table table-bordered table-condensed">

          <tbody>

              <tr class="session-description-name">
                <td class="session-description-label">Session Name</td>
                <td class="session-name"><%= session.name.capitalize %></td>
              </tr>

              <tr class="session-description-name">
                <td class="session-description-label">Facebook URL</td>
                <td class="session-name">www.facebook.com/<%= page.page_url %></td>
              </tr>

              <tr>
                <td class="session-description-label">Added On</td>
                <td><%= object.created_at.strftime("%b %e, %Y") %></td>
              </tr>

              <tr>
                <td class="session-description-label">Total Comments</td>
                <td><%= object.fb_comments_count %></td>
              </tr>

              <tr>
                <td class="session-description-label">Message</td>
                <td><%= object.message %></td>
              </tr>

          </tbody>
        </table>
    </div>
</div>


<div class="clearfix"></div>