<%= form_for(object) do |f|%>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="form-group">
		<%= f.label		:name %>
		<%= f.text_field 	:name, class: "form-control", 
									placeholder: "Session Name", 
									required: "text" %>
	</div>

	<div class="form-group">
		<%= f.label		:description %>
		<%= f.text_area 	:description, class: "form-control", 
									placeholder: "Description" %>
	</div>


	<div class="whitespace"></div>
	<div class="form-divider"></div>
	<h3>Global Settings for Pages</h3>		
	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<div class="form-group">
		<h4>Continous Collection:</h4>
		<p>Would you like to Perform Continous collection on this session?</p>
	</div>

	<div class="form-group">
		<div class="form-radio-group">
		<%= f.radio_button :session_continuous_scrape,  "true", class: "form-control form-radio"%>
		<%= f.label	:session_continuous_scrape, "True", :value => "true", class: "form-radio-label" %>
		</div>

		<div class="clearfix"></div>

		<div class="form-radio-group">
		<%= f.radio_button :session_continuous_scrape,  "false", class: "form-control form-radio" %>
		<%= f.label	:session_continuous_scrape, "False", :value => "false", class: "form-radio-label" %>
		</div>
		
	</div>

	<div class="clearfix"></div>

	<div class="whitespace"></div>

	<div class="form-group">
		<%= f.label	:session_scrape_frequency %>
		
		<%= f.select( :scrape_frequency_select,  options_for_select(scrape_frequency, selected: 1)) %>
	</div>

	<div class="whitespace"></div>
	<div class="form-divider"></div>
	<h4>Override Individual Page Settings</h4>		
	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<div class="form-group">
		<p>Allow pages to override these settings?</p>
	</div>

	<div class="form-group">
		<div class="form-radio-group">
		<%= f.radio_button :allow_page_override,  "true", class: "form-control form-radio"%>
		<%= f.label	:allow_page_override, "True", :value => "true", class: "form-radio-label" %>
		</div>

		<div class="clearfix"></div>

		<div class="form-radio-group">
		<%= f.radio_button :allow_page_override,  "false", class: "form-control form-radio" %>
		<%= f.label	:allow_page_override, "False", :value => "false", class: "form-radio-label" %>
		</div>
		
	</div>

	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<%= f.submit  class: "btn btn-large btn-primary" %>
<% end %>