<%= form_for [@scrape_session, @scrape_page] do |f|%>
	
	<%= render 'shared/error_messages', object: f.object %>
	
	<div class="form-group">
		<h4>Facebook Page URL</h4>
	</div>
	<div class="input-group input-group">
		<span class="input-group-addon">www.facebook.com/</span>
		<%= f.text_field :page_url, class: "form-control", 
								placeholder: "page url", 
								required: "text", autofocus: "" %>
	</div>

	<div class="whitespace"></div>
	<div class="form-divider"></div>
	<h3>Page Settings</h3>		
	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<div class="form-group">
		<h4>Continous Collection:</h4>
		<p>Would you like to Perform Continous collection on this page?</p>
	</div>

	<div class="form-group">
		<div class="form-radio-group">
		<%= f.radio_button :continous_scrape,  "true", class: "form-control form-radio"%>
		<%= f.label	:continous_scrape, "True", :value => "true", class: "form-radio-label" %>
		</div>

		<div class="clearfix"></div>

		<div class="form-radio-group">
		<%= f.radio_button :continous_scrape,  "false", class: "form-control form-radio" %>
		<%= f.label	:continous_scrape, "False", :value => "false", class: "form-radio-label" %>
		</div>
		
	</div>

	<div class="clearfix"></div>

	<div class="whitespace"></div>

	<div class="form-group">
		<%= f.label	:scrape_frequency %>
		
		<%= f.select( :scrape_frequency_select,  options_for_select(@scrape_frequencies, selected: 1)) %>
		
	</div>

	<div class="whitespace"></div>
	<div class="form-divider"></div>
	<h4>Override Session Settings</h4>		
	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<div class="form-group">
		<p>Use these settings for scrapes instead of the Session Settings</p>
	</div>

	<div class="form-group">
		<div class="form-radio-group">
		<%= f.radio_button :override_session_settings,  "true", class: "form-control form-radio"%>
		<%= f.label	:override_session_settings, "True", :value => "true", class: "form-radio-label" %>
		</div>

		<div class="clearfix"></div>

		<div class="form-radio-group">
		<%= f.radio_button :override_session_settings,  "false", class: "form-control form-radio" %>
		<%= f.label	:override_session_settings, "False", :value => "false", class: "form-radio-label" %>
		</div>
		
	</div>

	<div class="form-divider"></div>
	<div class="whitespace"></div>

	<%= f.submit "Add Page", class: "btn btn-large btn-primary" %>
<% end %>