<div class="col-md-9 pull-left">
    <div class="table-responsive session-description">
        <table class="table table-bordered table-condensed">

          <tbody>

              <tr class="session-description-name">
                <td class="session-description-label">Session Name</td>
                <td class="session-name"><%= @scrape_session.name.capitalize %></td>
              </tr>

              <tr class="session-description-name">
                <td class="session-description-label">Facebook URL</td>
                <td class="session-name">www.facebook.com/<%= object.page_url %></td>
              </tr>

              <tr>
                <td class="session-description-label">Added On</td>
                <td><%= object.created_at.strftime("%b %e, %Y") %></td>
              </tr>

              <tr>
                <td class="session-description-label">Added by</td>
                <td><%= "object.created_by" %></td>
              </tr>

              <tr>
                <td class="session-description-label">Continous</td>
                <td><%= object.continous_scrape.to_s.upcase %></td>
              </tr>

              <tr>
                <td class="session-description-label">Frequency</td>
                <td><%= distance_of_time_in_words(object.scrape_frequency) %></td>
              </tr>

              <tr>
                <td class="session-description-label">Override Session Settings</td>
                <td><%= object.override_session_settings.to_s.upcase %></td>
              </tr>

          </tbody>
        </table>
    </div>
</div>

<div class="col-md-3 pull-left session-description-stats">

    <div class="well well-sm page-count">
      <p class="stat-label"> <span class="glyphicon glyphicon-stats"></span>logs</p>
      <p class="stat-value"><%= "Logs" %></p>
      <div class="clearfix"></div>
    </div>

    <div class="well well-sm post-count">
        <p class="stat-label"><span class='glyphicon glyphicon-list-alt'></span>posts</p>
        <p class="stat-value"><%= object.total_posts %></p>
        <div class="clearfix"></div>
    </div>

    <div class="well well-sm comment-count">
        <p class="stat-label"><span class='glyphicon glyphicon-comment'></span>comments</p>
        <p class="stat-value"><%= object.total_comments %></p>
        <div class="clearfix"></div>
    </div>

</div>
<div class="clearfix"></div>