<% provide(:page_title, "Answers" ) %>
<% provide(:app_page, "answers" ) %>
<% provide(:app_sub, "answers_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Answers</h2>
	<div class="clearfix"></div>
</div>

<div class="well well-sm">
	<h3 class="session-name"><small class="pull-right">Session: <strong><%= @scrape_session.name %></strong></small></h3>
	<div class="clearfix"></div>
	<hr />
    <% if @answer_scope == "question" %>
    	<p class="session-question"><%= @question.question %></p>
    	<p class="session-description-well"><%= @question.description %></p>
    <% end %>
	
</div>

<% if !@answers.blank? %>
	<div>
		<h3>Answers for this Question</h3>
	</div>

        <%= render 'shared/answer_list', object: @answers, question: @question %>

	<!-- add pagination -->

<% else %>
	<div class="well well-sm">
		<h4>You haven't added any answers</h4>
	</div>
<% end %>


<% content_for :debug_dump do %>
  <p>inspect <%= @answers.inspect %></p>
  <p>Class <%= @answers.class %></p>
  <p>Nil <%= @answers.nil? %></p>
  <p>Blank <%= @answers.blank? %></p>
  <hr />
  <p>inspect @question <%= @question.inspect %></p>

<% end %>