<% provide(:page_title, "Answer") %>


<div class="page-header">
	<h2 class="pull-left">Answer</h2>

	<ul class="nav nav-pills pull-right">


		<li><%= link_to scrape_session_question_answers_path(@scrape_session, @question) do %>
				<span class='glyphicon glyphicon-circle-arrow-left'></span>&nbsp;Back to Answers
			<% end %>
		</li>
		<li><%= link_to("Delete Answer", scrape_session_question_answer_path(@scrape_session, @question, @answer), :method => :delete, :data => {:confirm => "Are you sure?"}) %>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>

<div class="well well-sm">
	<h4 class="session-name">Question:<small class="pull-right">Session: <strong><%= @scrape_session.name %></strong></small>
	</h4>
	<h3><%= @question.question %></h3>
	<h4><%= @answer.answer %></h54
	<hr />
	
</div>
<div class="clearfix"></div>

<% content_for :debug_dump do %>
	<h4>Question Info</h4>
	<p><%= @question.inspect %></p>	
	<br />
<% end %>