<div class="authform">
  


<%= form_for(@question) do |f| %>
  <h2><%= @title %></h2>
  <hr>
  <div class="form-group">
    <%= f.label :content, "Question" %><br>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "Add Answer", f, :answers %>
  </div>

  <div class="form-group">
    <%= f.submit class: "button" %>
  </div>
<% end %>
</div>