<div "authform">
	<%= form_for @question, url: question_assign_path(@question), method: "PUT" do |f| %>
		<h2><%= @title %></h2>


		<h2><%= @question.content %></h2>
		<br>
		<%- @answers = @question.answers %>

		<% if @answers %>
			<%- @answers.each do |answer| %>
				<ul>
				  <li><%= answer.content %></li>
				</ul>
			<% end %>
		<% end %>
		
	<div class="form-group">
		<%= f.label :user_ids, "Tagger" %>
		<%= f.collection_select :user_ids, User.order(:name), :id, :name, {}, {multiple: true, class: 'form-control chosen-select'} %>
	</div>
<!-- 'chosen-select' -->
	<!-- <div class="form-group"> -->
		<%#= f.label :tag_number, "Number of records to tag" %>
		<%#= f.text_field :tag_number, {class: "form-control"} %>
	<!-- </div> -->

	<%= f.submit 'Tag Question', class: "button" %>

	<% end %>
</div>