<div "authform">
	<%= form_for @question, url: question_assign_path(@question), method: "PUT" do |f| %>
		<h2><%= @title %></h2>
		
		Disqus <%= f.text_field :disqus_num %>
		Twitter <%= f.text_field :twitter_num %>
		
		<h2><%= @question.content %></h2>
		<br>
		<%- @answers = @question.answers %>
		
		<% if @answers %>
			<%- @answers.each do |answer| %>
				<ul>
				  <li><%= answer.content %></li>
				</ul>
			<% end %>
		<% end %>
		
	<div class="form-group">
		<%= f.label :user_ids, "Tagger" %>
		<%= f.collection_select :user_ids, User.order(:firstname), :id, :firstname, {}, {multiple: true, class: 'form-control chosen-select'} %>
	</div>


	<%= f.submit 'Tag Question', class: "button" %>

	<% end %>
</div>