<h1>Listing terms</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creation Date</th>
      <th>Channel</th>
      <th>Session</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.title %></td>
        <td><%= long_date term.created_at %></td>
        <td><%= term.channel %></td>
        <% if term.scrape_session %>
          <td><%= link_to "#{term.scrape_session.name}", main_app.scrape_session_path(term.scrape_session) %></td>
        <% end %>        
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' }, class: "small-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>