<h1>Listing terms</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creation Date</th>
      <th>Channel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.title %></td>
        <td><%= long_date term.created_at %></td>
        <td><%= term.channel %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' }, class: "small-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Term', new_term_path %>
