<% provide(:page_title, "Facebook Posts" ) %>
<% provide(:app_page, "fb_posts" ) %>

<div class="page-header">
    <h2 class="pull-left">Facebook Posts</h2>
    <div class="clearfix"></div>
</div>


<% if !@fb_posts.blank? %>
    <div class="row">
        <div class="col-md-8">
            <% if @fb_posts_scope == "session" %>
                <%= render 'shared/scrape_session_description' %>
            <% elsif @fb_posts_scope == "page" %>
                <%= render 'shared/scrape_page_description' %>
            <% end %>
        </div>
        
        <div class="col-md-4 pull-right">
            <%= search_form_for(@search, url: fb_posts_search_path , method: :post,  class: "navbar-form navbar-left pull-right", role: "search" )  do |f| %>
                <div class="form-group description-search">
                    <%= f.text_field :message_cont, class: "form-control ", 
                                            placeholder: "Search Posts..." %>
                </div>
                <%= f.submit "Search", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr />

    <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Posts</div>
      <div class="panel-body">
       <%= render 'shared/fb_post_list', object: @fb_posts %>
      </div>

    </div>



    <!--  pagination -->
    <div class="center-block">
      <%= will_paginate @fb_posts %>
    </div>

<% else %>
    <div class="well well-sm">
        <h4>There are no posts.</h4>
    </div>
<% end %>


<% content_for :debug_dump do %>

<% end %>