<% provide(:page_title, "Comments") %>
<% provide(:app_page, "fb_comments" ) %>

<div class="page-header">
    <h2 class="pull-left">Comments Collected</h2>

    <div class="clearfix"></div>
</div>

<div class="container">
<% if @fb_comments.empty? %>
    <div class="post-content">
        <h4>Source: <strong><%= @scrape_page.page_url %></strong></h4>
        <h5>Created <%= @fb_post.created_time.strftime("%I:%M %p, %b %e %Y") %> Ago<span><%= pluralize(@fb_comments.count, "Comment")  %></span></h5>
        <div class="whitespace"></div>
        <div class="well well-sm">
            <p><%= @fb_post.message %></p>
        </div>
    </div>

    <hr />

    <div class="well well-sm">
        <p>This post doesn't have any comments.</p>
    </div>

<% else %>
    <div class="row">
        <div class="col-md-8">
            <%= render 'shared/scrape_page_description' %>
        </div>
        
        <div class="col-md-4 pull-right">
            <%= search_form_for(@search, url: fb_comments_search_path , method: :post,  class: "navbar-form navbar-left pull-right", role: "search")  do |f| %>
                <div class="form-group description-search">
                    <%= f.text_field :message_cont, class: "form-control", 
                                            placeholder: "Search Comments..." %>
                </div>
                <%= f.submit "Search", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <hr />

    <%= render 'shared/fb_comment_list'  %>
    <div class="center-block">
        <%= will_paginate @fb_comments %>
    </div>
<% end %>
</div>

<% content_for :debug_dump do %>
 <p>is empty <%= @fb_comments.empty? %></p>
<% end %>