<% provide(:page_title, "Comments") %>
<% provide(:app_page, "fb_comments" ) %>

<div class="page-header">
    <h2 class="pull-left">Comments Collected</h2>
    <div class="clearfix"></div>
</div>

<div class="panel panel-default session-summary">
  <div class="panel-heading">Post Summary</div>
  <div class="panel-body">
        <%= render 'shared/fb_post_description', object: @fb_post, page: @scrape_page, session: @scrape_session %>
    </div>
</div>

<div class="whitespace"></div>


<% if @fb_comments.empty? %>
    <hr>

      <div class="well well-sm">
        <p>This post doesn't have any comments.</p>
      </div>

<% else %>
    <div class="panel panel-default">
        <%= search_form_for(@search, url: fb_comments_search_path , method: :post,  class: "", role: "search")  do |f| %>
            <div class="panel-body">
                <%= f.text_field :message_cont, class: "form-control col-md-8 pull-left search-form", 
                                        placeholder: "Search Comments..." %>
           
            <%= f.submit "Search", class: "btn btn-large btn-primary pull-right" %>
             <div class="clearfix"></div>
         </div>
        <% end %>
    </div>

    <div class="clearfix"></div>
    <hr />

    <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Posts</div>
      <div class="panel-body">
       <%= render 'shared/fb_comment_list', object: @fb_comments  %>
      </div>
      <div class="panel-footer"><%= will_paginate @fb_comments %></div>
    </div>

<% end %>


<% content_for :debug_dump do %>

<% end %>