<% provide(:page_title, "Comments") %>

<div class="page-header">
    <h2 class="pull-left">Comments Collected</h2>

    <ul class="nav nav-pills pull-right">
        <li><%= render 'shared/nav/back_to_session'  %></li>
        <li><%= render 'shared/nav/back_to_scrape_page'  %></li>
    </ul>
    <div class="clearfix"></div>
</div>

<% if @fb_comments.empty? %>
    <div class="well well-sm">
        <p>This post doesn't have any comments.</p>
    </div>

<% else %>
    <div class="row">
        <div class="col-md-8">
            <%= render 'shared/scrape_page_description' %>
        </div>
        
        <div class="col-md-4 pull-right">
            <%= search_form_for(@search, url: fb_comments_search_path , method: :post,  class: "navbar-form navbar-left pull-right", role: "search")  do |f| %>
                <div class="form-group description-search">
                    <%= f.text_field :message_cont, class: "form-control", 
                                            placeholder: "Search Comments..." %>
                </div>
                <%= f.submit "Search", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <hr />

    <%= render 'shared/fb_comment_list'  %>
    <div class="center-block">
        <%= will_paginate @fb_comments %>
    </div>
<% end %>

<% content_for :debug_dump do %>
 <p>is empty <%= @fb_comments.empty? %></p>
<% end %>