<div class="page-header">
  <h2>Test Page for comments and shit</h2>
</div>

<div class="container">
  <p>
    <%= @the_query.inspect %>
  </p>
</div>

<% if @comment_list.nil? %>
  <div class="well well-sm">
    <p>comment_list Nil!!!</p>
  </div>

<% else %>
  <div class="page-header">
    <h3>comment_list </h3>
  </div>
  
  <div class="container">
    <ul>
      <% @comment_list.each do |post_obj| %>
        <li><%= post_obj.inspect %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="page-header">
    <h3>@test_feed </h3>
  </div>
  
  <div class="container">
    <ul>
      <% @test_feed.each do |post_obj| %>
        <li><%= post_obj.inspect %></li>
      <% end %>
    </ul>
  </div>


<% content_for :debug_dump do %>
  <p>Comment list count => <%= @comment_list.count %></p>
  <p>comment_count => <%= @comment_count %></p>
  <p>test_feed => <%= @test_feed %></p>
<% end %>