<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= full_title(yield(:page_title)) %></title>

    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
	
	<!-- js -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <!-- meta -->
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to image_tag("umati-logger-logo.png", size: "200x30", alt: "Umati Data Logger"),  root_path, class: "navbar-brand" %>

      </div>

      <nav class="collapse navbar-collapse" role="navigation" id="main-navbar-collapse">
        <%= render 'layouts/navigation_links' %>
      </nav>
    </header>
    

  <%= render 'layouts/sidebar' %>
  </body>


</html>