<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= full_title(yield(:page_title)) %></title>

    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
	
	<!-- js -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <!-- meta -->
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-header">
        <%= link_to image_tag("umati-logger-logo.png", size: "200x30", alt: "Umati Data Logger"),  root_path, class: "navbar-brand" %>
      </div>

      <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",  root_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Help",  help_path %></li>

              <% if signed_in? %>
                <% if current_user.isadmin? %>
                  <li><%= link_to "Users", users_path %></li>
                <% end %>
                <li><%= link_to "Sessions",  scrape_sessions_path %></li>
               

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.username %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "User Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>

                    <% if current_user.isadmin? %>
                      <li><%= link_to "App Settings", app_settings_path %></li>
                      <li class="divider"></li>
                    <% end %>

                    

                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>

          </ul>
      </nav>
    </header>
    

    <div id="wrapper">
      <div id="sidebar-wrapper" class="col-md-2">
          <div id="sidebar">
            <nav>
              <ul class="nav list-group">
                  <li>
                    <a href="#" ><span class="glyphicon glyphicon-off"></span>Dashboard</a>
                  </li>
                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#pages-collapse">
                      <span class="glyphicon glyphicon-book"></span>Pages
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#pages-collapse"><span class="glyphicon glyphicon-search"></span>Pages</a> -->
                    <ul id="pages-collapse" class="collapse">
                      <li><a href="#">All Pages</a></li>
                      <li><a href="#">Add New</a></li>                
                    </ul>
                  </li>

                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#questions-collapse">
                      <span class="glyphicon glyphicon-search"></span>Questions
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#questions-collapse"><span class="glyphicon glyphicon-search"></span>Questions</a> -->
                    <ul id="questions-collapse" class="collapse">
                      <li><a href="#">All Questions</a></li>
                      <li><a href="#">Add New</a></li>                
                    </ul>
                  </li>

                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#answers-collapse">
                      <span class="glyphicon glyphicon-flash"></span>Answers
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#answers-collapse"><span class="glyphicon glyphicon-search"></span>Answers</a> -->
                    <ul id="answers-collapse" class="collapse">
                      <li><a href="#">All Answers</a></li>
                      <li><a href="#">Add New</a></li>                
                    </ul>
                  </li>

                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#posts-collapse">
                      <span class="glyphicon glyphicon-list-alt"></span>Posts
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#posts-collapse"><span class="glyphicon glyphicon-search"></span>Posts</a> -->
                    <ul id="posts-collapse" class="collapse">
                      <li><a href="#">All Posts</a></li>
                      <li><a href="#">Add New</a></li>                
                    </ul>
                  </li>

                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#comments-collapse">
                      <span class="glyphicon glyphicon-comment"></span>Comments
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#comments-collapse"><span class="glyphicon glyphicon-search"></span>Comments</a> -->
                    <ul id="comments-collapse" class="collapse">
                      <li><a href="#">All Pages</a></li>
                      <li><a href="#">Add New</a></li>                
                    </ul>
                  </li>

                  <li>
                    <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#logs-collapse">
                      <span class="glyphicon glyphicon-stats"></span>Logs
                    </button>

                    <!-- <a href="#" data-toggle="collapse" data-target="#comments-collapse"><span class="glyphicon glyphicon-search"></span>Comments</a> -->
                    <ul id="logs-collapse" class="collapse">
                      <li><a href="#">Scrape Logs</a></li>
                      <li><a href="#">Question Logs</a></li>
                      <li><a href="#">Answer Logs</a></li>
                      <li><a href="#">User Logs</a></li>                
                    </ul>
                  </li>
                </ul>
              </nav>
          </div>
      </div>

      <div id="main-wrapper" class="col-md-10 pull-right">
          <div id="main" role="main">

            <!-- messages - errors, warnings, success -->
            <div class="alert-container">
              <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>">
                    <%= value %>
                  </div>
                <% end %>
            </div>

            <%= yield %>

          </div>

        </div> <!-- /main-wrapper -->
    </div> <!-- /wrapper -->
  </body>


</html>